<head>
    <meta charset="utf-8">
    <title>{{ page.title | strip_html }} | {{ site.title }}</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ '/css/bootstrap.css' | prepend: site.baseurl }}">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/chartist/0.9.7/chartist.min.css">
    <link rel="stylesheet" href="{{ '/css/main.css' | prepend: site.baseurl }}">
    <script src="//cdnjs.cloudflare.com/ajax/libs/chartist/0.9.7s/chartist.min.js"></script>
</head>