<div class="ct-chart ct-major-eleventh"></div>
<script>
var data = { labels: [], series: [] },
    d = {{ site.data.olod.workload.hours | jsonify }};

d.forEach(function (element) {
    var label = Object.keys(element)[0] + ' (' + element[Object.keys(element)[0]] + 'u)',
        serie = element[Object.keys(element)[0]];
    data.labels.push(label);
    data.series.push(serie);
});

var options = {
    chartPadding: 60,
    donut: true,
    donutWidth: 40,
    labelDirection: 'explode',
    labelOffset: 40,
    startAngle: 270,
    total: data.series.reduce(function (a, b) { return a + b; }, 0) * 2
};

var responsiveOptions = [
    ["screen and (max-width: 320px)",
        {
            chartPadding: 6,
            donutWidth: 20,
            labelOffset: 40
        }
    ],
    ["screen and (max-width: 480px)",
        {
            chartPadding: 6,
            donutWidth: 20,
            labelOffset: 40
        }
    ]
];
new Chartist.Pie('.ct-chart', data, options, responsiveOptions);
</script>