<div class="ct-chart ct-major-eleventh"></div>
<script>
var data = { labels: [], series: [] },
    d = {{ site.data.olod.workload | jsonify }};

d.forEach(function (element) {
    var label = Object.keys(element)[0],
        serie = element[Object.keys(element)[0]];
    data.labels.push(label);
    data.series.push(serie);
});

var options = {
    chartPadding: 60,
    donut: true,
    donutWidth: 40,
    labelDirection: 'explode',
    labelOffset: 40,
    startAngle: 270,
    total: data.series.reduce(function (a, b) { return a + b; }, 0) * 2
};
new Chartist.Pie('.ct-chart', data, options);
</script>