$color-A: hsl(359,  0%, 50%);
$color-B: hsl(  0, 70%, 50%);
$color-C: hsl( 25, 70%, 50%);
$color-D: hsl( 50, 70%, 50%);
$color-E: hsl(150, 70%, 50%);
$color-F: hsl(200, 70%, 50%);
$color-G: hsl(229, 30%, 50%);
$color-H: hsl(330, 50%, 50%);

$color-selection: #FF0;

$color-ahs-oranje     : #E90;
$color-ahs-groen      : #BC0;
$color-ahs-fuchsia    : #C07;
$color-ahs-blauw      : #0AC;
$color-ahs-lichtgrijs : #DDD;
$color-ahs-middengrijs: #AAA;
$color-ahs-donkergrijs: #777;
$color-ahs-zwart      : #000;