/// Sass Mixins

@mixin label($text: "Code", $background: map_get($color-palette, color-G), $text-color: white) {
  position: relative;
  &::after{
    background: $background;
    border-radius: 0 0 0 .3rem;
    color: $text-color;
    content: $text;
    display: inline-block;
    font-family: $font-sans-serif;
    height: 2rem;
    line-height: 2rem;
    padding: 0 .5rem 0 .7rem;
    position: absolute;
    right: 0;
    top: 0;
  }
}

@mixin timeline-arrow($direction, $color, $width) {
  @if not index(right left, $direction) {
    @warn "Direction must be `right` or `left`; currently: `#{$direction}`.";
  }
  @else {
    @if left == $direction {
      border-right-color: $color;
      border-left: none;
      left: -$width;
    }
    @if right == $direction {
      border-left-color: $color;
      border-right: none;
      right: -$width;
    }
  }
}