/// Sass Variables

// Colours
$color-palette: (
  color-A: hsl(359,  0%, 50%),
  color-B: hsl(  0, 70%, 50%),
  color-C: hsl( 25, 70%, 50%),
  color-D: hsl( 50, 70%, 50%),
  color-E: hsl(150, 70%, 50%),
  color-F: hsl(200, 70%, 50%),
  color-G: hsl(229, 30%, 50%),
  color-H: hsl(330, 50%, 50%)
);

$color-selection: #FF0;

// Artevelde Colours
$color-ahs: (
  oranje     : #E90,
  groen      : #BC0,
  fuchsia    : #C07,
  blauw      : #0AC,
  lichtgrijs : #DDD,
  middengrijs: #AAA,
  donkergrijs: #777,
  zwart      : #000
);

// Code Colours

$color-code: (
  base01: #93a1a1,
  base02: #586e75,
  base03: #B58900,
  bg01  : #002b36,
  bg02  : #f4f3f1,
  orange: #cb4b16,
  red   : #dc322f,
  blue  : #268bd2,
  cyan  : #2aa198,
  green : #859900
);

// Code Label Colour
$color-language: (
  bash   : map-get($color-palette, color-A),
  bat    : map-get($color-palette, color-A),
  blade  : map-get($color-palette, color-H),
  code   : map-get($color-palette, color-A),
  css    : map-get($color-palette, color-C),
  default: white,
  emmet  : map-get($color-palette, color-A),
  gherkin: map-get($color-palette, color-E),
  html   : map-get($color-palette, color-B),
  ini    : map-get($color-palette, color-A),
  inky   : map-get($color-palette, color-B),
  json   : map-get($color-palette, color-A),
  js     : map-get($color-palette, color-D),
  php    : map-get($color-palette, color-G),
  po     : map-get($color-palette, color-A),
  ps     : map-get($color-palette, color-A),
  sql    : map-get($color-palette, color-F),
  scss   : map-get($color-palette, color-H),
  ts     : map-get($color-palette, color-F),
  twig   : map-get($color-palette, color-E),
  yaml   : map-get($color-palette, color-D)
);

// Highlight Colours
$base01: map-get($color-code, base01);
$base02: map-get($color-code, base02);
$base03: map-get($color-code, base03);
$bg01  : map-get($color-code, bg01);
$bg02  : map-get($color-code, bg02);
$orange: map-get($color-code, orange);
$red   : map-get($color-code, red);
$blue  : map-get($color-code, blue);
$cyan  : map-get($color-code, cyan);
$green : map-get($color-code, green);

$timeline-color: (
  neutral   : map_get($color-ahs, lichtgrijs),
  default   : map_get($color-ahs, blauw),
  accent    : map_get($color-ahs, oranje),
  important : map_get($color-ahs, fuchsia),
  trivial   : map_get($color-ahs, groen)
);

$timeline-color-line     : map_get($timeline-color, neutral);
$timeline-color-main     : map_get($timeline-color, default);
$timeline-color-important: map_get($timeline-color, important);
$timeline-color-bgc      : lighten($timeline-color-main, 50%);
$timeline-line-width     : .1875rem;
$timeline-waypoint-radius: 1rem;
$timeline-icon-radius    : 3.5 * $timeline-waypoint-radius;
$timeline-offset         : 3 * $timeline-icon-radius;
$timeline-arrow          : .75rem;

$timeline-breakpoint-lg: 62rem;
$timeline-breakpoint-xl: 75rem;
$timeline-content-lg: 56.875rem;
$timeline-content-xl: 69.375rem;

// Fonts
$font-code: "Source Code Pro", monospace;
$font-sans-serif: "Source Sans Pro", sans-serif;
$font-serif: serif;

// Footer
$footer-height: 4rem;