/// Sass Variables

// Colours
$color-palette: (
  color-A: hsl(359,  0%, 50%),
  color-B: hsl(  0, 70%, 50%),
  color-C: hsl( 25, 70%, 50%),
  color-D: hsl( 50, 70%, 50%),
  color-E: hsl(150, 70%, 50%),
  color-F: hsl(200, 70%, 50%),
  color-G: hsl(229, 30%, 50%),
  color-H: hsl(330, 50%, 50%)
);

$color-selection: #FF0;

// Artevelde Colours
$color-ahs: (
  ahs-oranje     : #E90,
  ahs-groen      : #BC0,
  ahs-fuchsia    : #C07,
  ahs-blauw      : #0AC,
  ahs-lichtgrijs : #DDD,
  ahs-middengrijs: #AAA,
  ahs-donkergrijs: #777,
  ahs-zwart      : #000
);

// Code Colours

$color-code: (
  code-base01: #93a1a1,
  code-base02: #586e75,
  code-base03: #B58900,
  code-bg01  : #002b36,
  code-bg02  : #f4f3f1,
  code-orange: #cb4b16,
  code-red   : #dc322f,
  code-blue  : #268bd2,
  code-cyan  : #2aa198,
  code-green : #859900
);

// Code Label Colour
$code-text-color: white;
$code-bash      : map-get($color-palette, color-A);
$code-bat       : map-get($color-palette, color-A);
$code-blade     : map-get($color-palette, color-H);
$code-code      : map-get($color-palette, color-A);
$code-css       : map-get($color-palette, color-C);
$code-emmet     : map-get($color-palette, color-A);
$code-gherkin   : map-get($color-palette, color-E);
$code-html      : map-get($color-palette, color-B);
$code-ini       : map-get($color-palette, color-A);
$code-inky      : map-get($color-palette, color-B);
$code-json      : map-get($color-palette, color-A);
$code-js        : map-get($color-palette, color-D);
$code-php       : map-get($color-palette, color-G);
$code-po        : map-get($color-palette, color-A);
$code-ps        : map-get($color-palette, color-A);
$code-sql       : map-get($color-palette, color-F);
$code-scss      : map-get($color-palette, color-H);
$code-ts        : map-get($color-palette, color-F);
$code-twig      : map-get($color-palette, color-E);
$code-yaml      : map-get($color-palette, color-D);

// Highlight Colours
$base01: map-get($color-code, code-base01);
$base02: map-get($color-code, code-base02);
$base03: map-get($color-code, code-base03);
$bg01  : map-get($color-code, code-bg01);
$bg02  : map-get($color-code, code-bg02);
$orange: map-get($color-code, code-orange);
$red   : map-get($color-code, code-red);
$blue  : map-get($color-code, code-blue);
$cyan  : map-get($color-code, code-cyan);
$green : map-get($color-code, code-green);

// Timeline Colours
$color-timeline-line: map_get($color-ahs, ahs-lichtgrijs);
$color-timeline-main: map_get($color-ahs, ahs-oranje);
$color-timeline-bgc : lighten($color-timeline-main, 50%);

// Fonts
$font-code: "Source Code Pro", monospace;
$font-sans-serif: "Source Sans Pro", sans-serif;
$font-serif: serif;

// Footer
$footer-height: 4rem;