/// Timeline

.timeline {
  position: relative;
  @extend %clearfix;
  &::before {
    background-color: $color-timeline-line;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    width: 5px;
  }
  .timeline-icon i {
    font-size: 1.6rem;
    line-height: 2.5rem;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    width: 3rem;
    height: 3rem;
    border: 5px solid $color-timeline-line;
    border-radius: 50%;
    background-color: white;
    left: 0;
    right: 0;
    margin: auto;
  }
  .timeline-point {
    &-important {
      .timeline-content {
        background-color: $color-timeline-main !important;
        color: white !important;
        a {
          color: inherit;
        }
      }
    }
    &-trivial {
      .timeline-content {
        opacity: .25;
      }
    }
    &:nth-child(even) {
      .timeline-date {
        float: left;
        text-align: right;
      }
      .timeline-content {
        float: right;
        &::before {
          border-right-color: $color-timeline-main;
          border-left: none;
          left: -.7rem;
        }
      }
    }
    &:nth-child(odd) {
      .timeline-date {
        float: right;
        text-align: left;
      }
      .timeline-content {
        float: left;
        &::before {
          border-left-color: $color-timeline-main;
          border-right: none;
          right: -.7rem;
        }
      }
    }
    .timeline-date,
    .timeline-content {
      width: 47%;
    }
    .timeline-date {
      font-weight: bold;
      line-height: 3rem;
    }
    .timeline-content {
      position: relative;
      background-color: $color-timeline-bgc;
      border: .2rem solid $color-timeline-main;
      border-radius: .4rem;
      // box-shadow: -1px 3px 3px hsla(0, 0%, 0%, .1);
      padding: 1rem;
      h1 {
        font-size: 1.4rem;
        margin: 0;
      }
      &::before {
        content: "";
        border: .7rem solid transparent;
        position: absolute;
        top: .7rem;
      }
    }
  }
  .timeline-point {
    &::before {
      background-color: white;
      border: 5px solid $color-timeline-line;
      border-radius: 50%;
      content: "";
      height: 1rem;
      left: 0;
      margin: 1rem auto;
      position: absolute;
      right: 0;
      width: 1rem;
    }
    &::after {
      @extend %cleafixContent;
      margin: 3rem;
    }
  }
}